---
import "bootstrap/dist/css/bootstrap.css"
import "~/styles/general.css"

import type { CollectionEntry } from "astro:content"

import LanguageSwitcher from "~/components/LanguageSwitcher.astro"
import PlatformSwitcher from "~/components/platform/PlatformSwitcher.astro"
import UIString from "~/components/UIString.astro"
import { pageOrder, pagesByPath } from "~/content"
import type { Platform } from "~/util"

export interface Props {
  data: CollectionEntry<"docs">["data"]
  lang: string
  platform: Platform
  slug: string
}

const { data, lang, platform, slug } = Astro.props

const pageIndex = pageOrder.indexOf(slug)
if (pageIndex < 0) {
  throw new Error(`page ${slug} not found in navigation order`)
}
---

<html lang={lang}>
  <head>
    <title>{data.title} - Scribe for Meetings Documentation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div>
      <h1>Scribe for Meetings</h1>
      <LanguageSwitcher origLang={lang} platform={platform} slug={slug} />
      <form role="search" action={`/${lang}/${platform}/search/`} method="get">
        <label for="q"><UIString key="search.label" /></label>
        <input type="text" name="q" id="q" required />
        <button type="submit"><UIString key="search.button" /></button>
      </form>
    </div>
    <div class="container-fluid">
      <div class="sidebar">
        <div class="navbar navbar-default" role="navigation">
          <div class="row flex-nowrap">
            <div class="col-auto px-0">
              <div
                id="sidebar"
                class="collapse show collapse-horizontal"
                aria-expanded="true"
              >
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="navList">
                  {
                    pageOrder.map((linkSlug) => {
                      let entry = pagesByPath[`${lang}/${linkSlug}`]
                      if (!entry) {
                        throw new Error(
                          `couldn't find entry for ${lang}/${linkSlug}`
                        )
                      }
                      return (
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href={`/${lang}/${platform}/${linkSlug}/`}
                          >
                            {entry.data.title}
                          </a>
                        </li>
                      )
                    })
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="search"></div>
      </div>
      <div class="col ps-md-2 pt-2">
        <main>
          <div class="page-header pt-3">
            <h2>{data.title}</h2>
          </div>
          <slot />
        </main>
        <footer>
          {
            pageIndex === 0 ? null : (
              <>
                <a
                  class="path-prev"
                  href={`/${lang}/${platform}/${pageOrder[pageIndex - 1]}/`}
                >
                  <UIString key="footer.previous" />:{" "}
                  {
                    pagesByPath[`${lang}/${pageOrder[pageIndex - 1]}`].data
                      .title
                  }
                </a>
                <br />
              </>
            )
          }
          {
            pageIndex === pageOrder.length - 1 ? null : (
              <a
                class="path-next"
                href={`/${lang}/${platform}/${pageOrder[pageIndex + 1]}/`}
              >
                <UIString key="footer.next" />:{" "}
                {pagesByPath[`${lang}/${pageOrder[pageIndex + 1]}`].data.title}
              </a>
            )
          }
          <LanguageSwitcher origLang={lang} platform={platform} slug={slug} />
        </footer>
      </div>
    </div>
  </body>
</html>
